<html>
	<head>
		<title>Great app!</title>
	</head>
	<body>
		<x-app id="app"></x-app>
		<script src="result-view.js"></script>
		<script src="results-provider.js"></script>
		<script src="results-list.js"></script>
		<script src="search-input.js"></script>
		<script src="app.js"></script>
	</body>
</html>